<div class="chat-container" >
    <div class="teacher-info">
        <%=link_to '<svg class="conversation-back" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>'.html_safe, student_conversations_path, class:"btn btn-danger"%>
        <div class="teacher">
            <%= link_to teacher_path(@conversation.teacher), class:"a-teacher" do%>
                <div class="teacher-image circular-card-frame">
                    <% if @conversation.teacher.picture.attached? %>
                        <%= image_tag @conversation.teacher.picture.variant(resize: '200x200'), class:"img-framed-card" %>
                    <% else %>
                        <%= image_tag 'Empty profile picture.png', class: 'img-framed-card' %>
                    <% end %>
                </div>
            <% end %>
            <%= link_to teacher_path(@conversation.teacher), class:"a-teacher" do%>
                <div class="teacher-name">
                    <% if @conversation.teacher.alias.present? %>
                        <%= @conversation.teacher.alias %>
                    <% else %>
                        <%= @conversation.teacher.first_name + " " + @conversation.teacher.last_name %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="chat" id="chatbox">
        <% @conversation.messages.order(:created_at).each do |message| %>
            <div class="message <% if message.user_id == current_user.id %>outgoing<% else %>incoming<% end %>">
                <div class="message-content">
                    <p><%= message.message %></p>
                </div>
            </div>
        <% end %>
    </div>
    <%= form_with model: @message, url: student_conversation_path(@conversation), method: :patch, class: "compose" do |f| %>
        <%= f.text_area :message, placeholder: "Escribe tu mensaje...", id:"message-textarea" %>
        <%= f.submit "Enviar", class: "message-button", id:"message-button", disabled: true %>
    <% end %>
</div>