<%= form_with(model: @inscription, url: student_course_path(@course), method: :patch) do |f| %>
    <%= f.hidden_field :rating, value: @inscription.rating, id: 'rating'%>
    <div class="d-flex mb-3">
        <%= f.label :rating, class:"form-label rating-label" do %>Puntuación:<% end %>
        <div class="rate">
            <input class="star" type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input class="star" type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input class="star" type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input class="star" type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input class="star" type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
        </div>
    </div>
    <div class="my-3">
        <%= f.label :review, class:"form-label" do %>Comentario (Opcional):<% end %>
        <%= f.text_area :review, class:"form-control"%>
    </div>

    <div class="rating-submit">
        <%= f.submit "Enviar", class: 'btn btn-primary mt-3' %>
    </div>
<% end %>