<div class="student-course-header">
    <div class="course-header-container container">
        <div class="col-md-12">
            <h1><b><%= @course.title %></b></h1>
            <p class="course-description"><%= @course.description %></p>
        </div>
        <div class="col-md-12 teacher-and-inscription-course">
            <div class="teacher my-4">
                <%= link_to teacher_path(@course.user), class:"a-teacher" do%>
                    <div class="teacher-image circular-card-frame">
                        <% if @course.user.picture.attached? %>
                            <%= image_tag @course.user.picture.variant(resize: '200x200'), class:"img-framed-card" %>
                        <% else %>
                            <%= image_tag 'Empty profile picture.png', class: 'img-framed-card' %>
                        <% end %>
                    </div>
                <% end %>
                <%= link_to teacher_path(@course.user), class:"a-teacher" do%>
                    <div class="teacher-name">
                        <% if @course.user.alias.present? %>
                            <%= @course.user.alias %>
                        <% else %>
                            <%= @course.user.first_name + " " + @course.user.last_name %>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <button id="open-rating-modal" class="btn btn-primary btn-inscription">Puntuar</button>
        </div>
    </div> 
    <div class="div-links-courses student-course pb-2">
        <div class="container d-flex">
            <a href="<%= student_course_path(@course) %>" class="nav-link<% if show %> active<% end %>">Lecciones</a>
            <a href="<%= student_course_exams_path(@course) %>" class="nav-link<% if defined?(@exams) %> active<% end %>">Evaluaciones</a>
            <a href="<%= student_course_conversations_path(@course, teacher_id: @course.user.id)%>" data-method="post" class="nav-link<% if defined?(@conversation) %> active<% end %>">Chat</a>
        </div>    
    </div>

    <div id="rating-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <!-- Modal header, body, and footer -->
                <div class="modal-header">
                    <h2>Puntuar curso</h2>
                </div>
                <div class="modal-body">
                    <%= render '/student/courses/edit' %>
                </div>
            </div>
        </div>
    </div>
</div>