<div class="student-course-header">
    <div class="course-header-container container">
        <div class="col-md-12">
            <div class="new-and-title pb-3">
                <h1><b><%= @course.title %></b></h1>
                <%= link_to '<svg class="conversation-back white-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>'.html_safe, student_courses_path, class:"btn btn-danger back-student-index" %>
            </div>
            
            <p class="course-description"><%= @course.description %></p>
        </div>
        <div class="col-md-12 teacher-and-inscription-course">
            <div class="teacher my-4">
                <%= link_to teacher_path(@course.user), class:"a-teacher" do%>
                    <div class="teacher-image circular-card-frame">
                        <% if @course.user.picture.attached? %>
                            <%= image_tag @course.user.picture.variant(resize: '200x200'), class:"img-framed-card" %>
                        <% else %>
                            <%= image_tag 'Empty profile picture.png', class: 'img-framed-card' %>
                        <% end %>
                    </div>
                <% end %>
                <%= link_to teacher_path(@course.user), class:"a-teacher" do%>
                    <div class="teacher-name">
                        <% if @course.user.alias.present? %>
                            <%= @course.user.alias %>
                        <% else %>
                            <%= @course.user.last_name + ", " + @course.user.first_name %>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <button id="open-rating-modal" class="btn btn-primary btn-inscription">Puntuar</button>
        </div>
    </div> 
    <div class="div-links-courses student-course pb-2">
        <div class="container d-flex">
            <a href="<%= student_course_path(@course) %>" class="nav-link<% if show %> active<% end %>">Lecciones</a>
            <a href="<%= student_course_exams_path(@course) %>" class="nav-link<% if defined?(@exams) %> active<% end %>">Evaluaciones</a>
            <a href="<%= student_course_conversations_path(@course, teacher_id: @course.user.id)%>" data-method="post" class="nav-link<% if defined?(@conversation) %> active<% end %>">Chat</a>
        </div>    
    </div>

    <div id="rating-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <!-- Modal header, body, and footer -->
                <div class="modal-header">
                    <h2>Puntuar curso</h2>
                </div>
                <div class="modal-body">
                    <%= render '/student/courses/edit' %>
                </div>
            </div>
        </div>
    </div>
</div>