<% if @course.present? %>
    <%= render "teacher/courses/header", show: false %>
<% end %>
<div class="new-and-title">
    <h1>Inscripciones pendientes</h1>
</div>
<div class="table-filters">
    <% if @course.present? %>
        <% path = teacher_course_inscriptions_path(@course) %>
    <% else %>
        <% path = teacher_inscriptions_path%>
    <% end %>
    
    <%= form_with(url: path, method: "get", class:"d-flex row") do |form| %>
        <% if params[:order_by] %>
            <%= form.hidden_field "order_by", value: params[:order_by]%>
            <%= form.hidden_field "order", value: params[:order]%>
        <% end %>
        
        <div class="col-md-4 px-2">
            <%= form.label :name, "Nombre:", class:"form-label" %>
            <%= form.text_field :name, class:"form-control", value: params[:name] %>
        </div>
        
        <% unless @course.present? %>
            <div class="col-md-4 px-2">
                <%= form.label :course, "Curso:", class:"form-label" %>
                <%= form.collection_select :course, current_user.courses, :id, :title, { include_blank: "Seleccionar", selected: params[:course] }, { class: 'form-select' } %>
            </div>
        <% end %>        

        <div class="col-md-12 actions my-3">
            <%= form.submit "Filtrar", class: "btn btn-primary" %>
            <% if @course.present? %>
                <%= link_to "Limpiar Filtros", teacher_course_inscriptions_path(@course, order_by: params[:order_by], order: params[:order]), class: "btn btn-secondary" %>
            <% else %>
                <%= link_to "Limpiar Filtros", teacher_inscriptions_path(order_by: params[:order_by], order: params[:order]), class: "btn btn-secondary" %>
            <% end %>
        </div>
    <% end %>
</div>
<table id="teacher-admin-table">
  <thead>
    <tr>
        <th id="alias">
            <div class="table-header">
                <span class="table-header-text">Nombre</span>
                <% if params[:order_by] != "alias"%>
                    <svg class="table-header-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z"/></svg>
                <% elsif params[:order] == "asc"%>
                    <svg class="table-header-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M182.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg>
                <% else %>
                    <svg class="table-header-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M182.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128z"/></svg>
                <% end %>
            </div>
        </th>
        <% unless @course.present? %>
            <th id="course">
                <div class="table-header">
                    <span class="table-header-text">Curso</span>
                    <% if params[:order_by] != "course"%>
                        <svg class="table-header-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z"/></svg>
                    <% elsif params[:order] == "asc"%>
                        <svg class="table-header-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M182.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg>
                    <% else %>
                        <svg class="table-header-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M182.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128z"/></svg>
                    <% end %>
                </div>
            </th>
        <% end %>
        <th id="created_at">
            <div class="table-header">
                <span class="table-header-text">Fecha</span>
                <% if params[:order_by] != "created_at"%>
                    <svg class="table-header-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z"/></svg>
                <% elsif params[:order] == "asc"%>
                    <svg class="table-header-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M182.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg>
                <% else %>
                    <svg class="table-header-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M182.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128z"/></svg>
                <% end %>
            </div>
        </th>

        <th><span class="table-header-text">Acciones</span></th>
    </tr>
  </thead>
  <tbody>
    <%  @inscriptions.each do |inscription| %>
      <tr>
        <td>
            <% if inscription.user.alias.present? %>
                <%= inscription.user.alias %>
            <% else %>
                <%= inscription.user.last_name.to_s + ", " + inscription.user.first_name.to_s%>
            <% end %>
        </td>
        <% unless @course.present?%>
            <td><%= inscription.course.title %></td>
        <% end %>
        <td><%= inscription.created_at %></td>
        <td class="d-flex">
            <% if @course.present? %>
                <%= button_to '<svg class="accept-inscription-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>'.html_safe, teacher_course_inscription_path(@course, inscription), method: :patch, class: 'btn btn-secondary mx-2' %>
                <%= button_to '<svg class="reject-inscription-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>'.html_safe, teacher_course_inscription_path(@course, inscription), method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-secondary mx-2" %>
            <% else %>
                <%= button_to '<svg class="accept-inscription-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>'.html_safe, teacher_inscription_path(inscription), method: :patch, class: 'btn btn-secondary mx-2' %>
                <%= button_to '<svg class="reject-inscription-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>'.html_safe, teacher_inscription_path(inscription), method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-secondary mx-2" %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
