<div class= "row">
    <div class= "col-md-1">
    </div>
    <div class= "col-md-10">
        <div class="new-and-title">
            <h2>Cambio de contrase単a</h2>
            <%= link_to '<svg class="conversation-back white-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>'.html_safe, teacher_profile_path, class:"btn btn-danger back-student-index" %>
        </div>

        <%= form_with(model: current_user, url: teacher_profile_change_password_path, method: :patch) do |f| %>
            <div class="field">
                <%= f.label :current_password, class:"form-label" do%>Contrase単a actual<% end %>
                <%= f.password_field :current_password, required: true, minlength: 8, oninvalid:"this.setCustomValidity(' ')", oninput:"this.setCustomValidity('')", class: 'form-control' %>
                <% if password.present? %>
                    <p class="error-msg">
                        <%= password %>
                    </p>
                <% end %>
            </div>

            <div class="field">
                <%= f.label :password, class:"form-label" do %>Nueva contrase単a<% end %>
                <%= f.password_field :password, required: true, minlength: 8, oninvalid:"this.setCustomValidity(' ')", oninput:"this.setCustomValidity('')", class: 'form-control' %>
            </div>

            <div class="field">
                <%= f.label :password_confirmation, class:"form-label" do %>Confirmar contrase単a<% end %>
                <%= f.password_field :password_confirmation, required: true, oninvalid:"this.setCustomValidity(' ')", oninput:"this.setCustomValidity('')", class: 'form-control' %>
                <% if password_confirmation.present? %>
                    <p class="error-msg">
                        <%= password_confirmation %>
                    </p>
                <% end %>
            </div>

            <div class="actions">
                <%= f.submit "Enviar", onclick: "return validateForm()", class: 'btn btn-primary mt-3' %>
            </div>
        <% end %>
    </div>
    <div class= "col-md-1">
    </div>
</div>